* { margin:0; padding:0;}
            

/*background layer for header area, linear-gradient means the angle*/
            .header-wrapper {
                background:linear-gradient(180deg, #4b6cb7, antiquewhite); ;
                padding: 16px 20px;
                text-align: left;
                display:flex;
                align-items: center;
                gap: 20px;
                position:sticky;
                top:0;
            }
            .logo {
                width:60px;
                height: 60px;
                object-fit: contain;
                margin-right:12px;
            }
            .header-wrapper p {
                margin: 0;
            }
            .header_words {
                display:flex;
                gap: 30px;
                flex:1;
                justify-content: flex-end;
                          }
            .header_words a {
                color: white;
                text-decoration: none;
                font-size: 18px;
            }
            .body {
                display: grid;
                grid-template-columns: 1fr 3fr;
                grid-template-rows: auto 1fr auto;
                grid-template-areas: 
                    "sidebar header"
                    "sidebar main"
                    "sidebar footer";
                min-height: 100vh;
                margin: 0;
            }